.container{
  margin:auto;
  width:1226px;
}
a{
  img{
    width:100%;
    height: 100%;
  }
}
input{
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
// 清除浮动
.clearfix:before,.clearfix:after{
  content:' ';
  display:table;
}
.clearfix:after{
  clear: both;
}
// 公共header-logo
.header-logo {
  height: 55px;
  width: 55px;
  background-color: #ff6600;
  overflow: hidden;
  &:hover {
    a {
      margin-left: -55px;
    }
  }
  a {
    display: inline-block;
    height: 55px;
    width: 110px;
    transition: all 0.4s ease;
    &:before {
      content: "";
      display: inline-block;
      height: 55px;
      width: 55px;
      background: url("/imgs/mi-logo.png") no-repeat center/cover;
    }
    &:after {
      content: "";
      display: inline-block;
      height: 55px;
      width: 55px;
      background: url("/imgs/mi-home.png") no-repeat center/cover;
    }
  }
}